.body {
  text-align: center;
}

.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #ff0000; /* red background */
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

.header p {
  font-size: 20px;
}

.defBuggy {
  padding: 80px;
  text-align: center;
  background: #002060; /*blue -- TO EDIT*/
  color: white;
}

.defBuggy h1 {
  font-size: 40px;
}

.defApex {
  padding: 80px;
  text-align: center;
  background: #ecce18; /*gold -- TO EDIT*/
  color: white;
}

.defApex h1{
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ffffff; /* White background color */
  color: #ddd; /* Grey text color */
}


/*Team page*/
.history {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #ff0000; /* red background */
  color: white; /* white text color */
}

.history h1{
  font-size: 40px;
}

.team {
  padding: 80px;
  text-align: center;
  background: #002060; /*blue -- TO EDIT*/
  color: white;
}

.team h1 {
  font-size: 40px;
}

.team h2 {
  font-size: 30px;
}

.exec {
  padding: 80px;
  text-align: center;
  background: #ecce18; /*gold -- TO EDIT*/
  color: white;
}

.exec h1 {
  font-size: 40px;
}

.calendar {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #ff0000; /* red background */
  color: white; /* white text color */
}

.calendar h1{
  font-size: 40px;
}

.footer {
  padding: 80px;
  text-align: center;
  display: block;
  background: black;
  color: white;
}

.footer h1 {
  font-size: 26px;
}

.footer a, .footer p{
  font-size: 18px;
}

.buggies {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #ff0000; /* red background */
  color: white; /* white text color */
}

.buggies h1{
  font-size: 40px;
}