/*Apex font*/
@font-face { font-family: Interceptor; src: url('assets/fonts/Interceptor.otf'); } 
@font-face { font-family: Exo; src: url('assets/fonts/exo.regular.otf'); }

.navbar-custom {
    background-color: #000000;
}
/* change the brand and text color and font */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,1.0);
    font-family: 'Interceptor';
}
/* change the link color and font */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255, 1.0);
    font-family: 'Exo';
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color: #FF0000;
    color: #ffffff;
}
.nav>li {
    display: inline-block;
}
.dropdown:hover > .dropdown-menu {
    display: block;
    color: #000000;
}
.dropdown-menu a{
    color: #FFFFFF;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
