/*Apex font*/
@font-face { font-family: Interceptor; src: url('assets/fonts/Interceptor.otf'); }

#content {
    margin: auto;
    width: 80%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: auto;
    text-align: center;
}

td {
    padding-right: 15px;
}

.row-name {
    font-weight: bold;
}

.section {
    background-color: pink;
    display: block;
    width: 24%;
    margin: 0.5%;
    padding: 15px;
}

@media only screen and (max-width: 1400px) {
    .section {
        width: 32%;
    }
}

@media only screen and (max-width: 1000px) {
    .section {
        width: 49%;
    }
}

/* for mobile responsiveness */
@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
        /* reset margin */
        margin: 0px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
}

.image-section {
    height: 350px;
}

.propic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    padding-top: 10px;
}