/*Apex font*/
@font-face { font-family: Interceptor; src: url('assets/fonts/Interceptor.otf'); }

body {
    background-color: red;
}

#content {
    background-color: white;
    margin: auto;
    width: 80%;
}

h1 {
    margin: auto;
    padding: 25px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .section {
        width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .section {
        width: 48%;
    }
}

/* for mobile responsiveness */
@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
        /* reset margin */
        margin: 2% auto;
    }
}

.center {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }